.staffs-container{
    .table-staffs-container {
        margin: 2em;
        border: 2px solid whitesmoke;
        border-radius: 2%;
        background-color: white !important;
        box-shadow: 5px 10px 18px lightsteelblue    
    }
}